html,
body {
    background: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #EEE;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.container,
.row {
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

.navbar {
    /* background-color: #ff0000; */
    width: 100%;
    height: 120px;
    position: fixed;
    top: 0;
    left: 0;
}

.sqareBox {
    /* background-color: #ff0000; */
    position: absolute;
    display: inline-block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


/* .sqareBox2 {
    top: 40%;
    width: 50vh;
    height: 50vh;
    transform: translateY(-50%) rotate(-20deg);
} */

.outter {
    /* background-color: #EEE; */
    width: 100%;
    /* background-color: #f24; */
    display: inline-block;
    z-index: 10;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.slide1 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/1/1.png");
}

.slide2 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/2/1.png");
}

.slide3 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/3/1.png");
}

.slide4 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/4/1.png");
}

.slide5 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/5/1.png");
}

.slide6 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/6/1.png");
}

.slide7 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/7/1.png");
}

.slide8 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/8/1.png");
}

.slide9 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/9/1.png");
}

.slide10 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/10/1.jpg");
}

.slide11 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/11/1.png");
}

.slide12 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/12/1.png");
}

.slide13 {
    background-image: url("https://lloyd3126.github.io/pixelcity/image/banner/13/1.png");
}

@media screen and (max-width: 576px) {
    body {
        /* background-color: #666; */
    }
    .swiper-slide {
        width: 70vw;
        height: 70vw;
    }
    .container,
    .row {
        width: 100vw;
        margin: 0;
        padding: 0;
    }
    .sqareBox {
        width: 100vw;
        height: 100vh;
    }
}